<h1>HELLO WORLD!</h1>

<p>{{ title }}</p>

<button (click)="clickHandler()">Click Me</button>

<p>One-Way Binding</p>
<input type="text" [value]="title"/>

<p>Two-Way Binding</p>
<input type="text" [(ngModel)]="title"/>


<app-user-image></app-user-image>

<app-price-display></app-price-display>