<p>price-display works!</p>

<h3>Price Data For: {{ ticker }}</h3>

<table class="table table-striped">
    <thead>
        <th>Date</th>
        <th>Price</th>
    </thead>
    <tr *ngFor="let price of priceData">
        <td>{{ price[0] }}</td>
        <td>{{ price[1] }}</td>
    </tr>
</table>

<ngx-charts-line-chart [results]="chartData"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  ></ngx-charts-line-chart>
